<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Request a Song</title>
</head>
<body>
    <h1>Request a Song</h1>

    <form action="#" th:action="@{/request}" th:object="${songRequest}" method="post">
        <p>Link: <input type="text" th:field="*{link}" th:class="${songRequest.hasErrors('link')}? fieldError" /></p>
        <p><input type="submit" value="Submit"/> <input type="reset" value="Reset"/></p>
    </form>

    <br />
    <p><a href="/">Home</a> | <a href="/queue">View the Queue</a></p>
</body>
</html>